<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expance Report</title>
</head>
<body>
    <h1>Day to Day Expenses</h1>

    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>category</th>
            <th>Income</th>
            <th>Expense</th>
        </tr>
        <tr>
                  <td></td>
                 <td></td>
                 <td></td>
                  <td></td>
                 <td></td>
        </tr>
        <tr>
  <td> 250</td>
        </tr>
    </table>
<h1>Yearly Report</h1>
    <table>

    </table>
    <h1>Notes Report</h1>
</body>
</html>