header .navBar {
    width: 100%;
    background-color: #fff;
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 100;
    transition: all .3s ease-in-out;
}

.navBar{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

.navBar .item1{
    width: 50px;
    height: 23px;
    background: rebeccapurple;
    align-self: center;
}

.navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navBar ul li {
  margin-right: 10px;
}

.navBar ul li a {
    padding: 20px;
    margin: 20px;
  color:#000000;
  text-decoration: none;
}
.navBar ul li a:hover{
font-weight: bold;
color: red;
}

li .active{
font-weight: bold;
  background: #2196f3;
}

      table {
          border-collapse: collapse;
          width: 100%;
      }

      th {
          background: #7042ca;
          color: white;
          height: 14px;
          box-shadow: 3px 0 7px #0000004d;
          margin-bottom: 7px;
      }

      th,
      td {
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #f2f2f2;
      }

      tr:hover {
          background: #cbb6f4;
      }
      .dateField{
          font-weight:bolder ;

      }

      .btnNT {
        background-color: #2196f3;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-top: 5px;
      }
      .btnNT:hover{
        background: #7042ca;
      }