
 /*   .container{
      display: flex;
      justify-content: center;
    }
    .item.item1 {
        width: 286px;
    }
    .form-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .form-input{
      margin: 2px;
      min-width: 150px;
      border-radius: 5px;
      border: none;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      height: 30px;
    }
    .form-input:focus-visible{
        border: 5px;
      background: pink;
      }
      .btn {
        background-color: #2196f3;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-top: 5px;
    }

    .reset{
      background: linear-gradient(90deg,rgb(92 199 222 / 80%),rgb(179 106 106 / 80%) 87.19%);  cursor:ack pointer;
      cursor: pointer;
      display: inline;
    }*/
    header .navBar {
      width: 100%;
      background-color: #fff;
      box-shadow: 3px 0 7px rgba(0, 0, 0, 0.3);
      position: relative;
      z-index: 100;
      transition: all .3s ease-in-out;
  }
  
  .navBar{
      display: flex;
      justify-content: space-between;
      line-height: 50px;
  }
  
 .navBar .item1{
      width: 50px;
      height: 23px;
      background: rebeccapurple;
      align-self: center;
  }
  
  .navBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navBar ul li {
    margin-right: 10px;
  }
  
  .navBar ul li a {
      padding: 20px;
      margin: 20px;
    color:#000000;
    text-decoration: none;
  }
  .navBar ul li a:hover{
  font-weight: bold;
  color: red;
  }

 li .active{
  font-weight: bold;
    background: #2196f3;
  }

    .container {
      display: flex;
      justify-content: center;
    }
    
    .item.item1 {
      width: 286px;
    }
    
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .form-input {
      margin: 2px;
      min-width: 150px;
      border-radius: 5px;
      border: none;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      height: 30px;
    }
    
    .form-input:focus-visible {
      border: 5px;
      background: pink;
    }
    
    .btn {
      background-color: #2196f3;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      margin-top: 5px;
    }
    
    .reset{
      background: linear-gradient(90deg,rgb(92 199 222 / 80%),rgb(179 106 106 / 80%) 87.19%);  cursor:ack pointer;
      cursor: pointer;
      display: inline;
    }
    
    /* Media Query for screens with a maximum width of 768px */
    @media (max-width: 600px) {
      .container{
        display: block;
      }
      .item {
        width: 100%;
      }
      
      .form-input {
        min-width: 100%;
      }
      
      .btn {
        width: 100%;
      }
      /* .item2{
        display: none;
      } */
    }
    